@model IEnumerable<Models.Actor>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Actor Index</h1>
<a type="button" asp-action="Create" asp-controller="Actors" class="btn btn-success">Add new</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.FullName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Bio)</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px"></img>
                </th>
                <td>@Html.DisplayFor(model => item.FullName)</td>
                <td>@item.Bio</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" class="btn btn-primary">Edit</a> <p> | </p>
                        <a type="button" class="btn btn-info">Details</a> <p> | </p>
                        <a type="button" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
    <a asp-controller="Actors" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New
    </a>
</div>*@